.Hero {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background: #000;
}

.navbar-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: none;
}

.navbar-menu {
    border: none !important;
}

.navbar-menu a {
    color: white;
}

.Hero-video {
    position: relative;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}

/*.Hero .filter {*/
    /*z-index: 100;*/
    /*position: absolute;*/
    /*background: rgba(0, 0, 0, 0.4);*/
    /*width: 100%;*/
/*}*/

.Hero .title-container {
    z-index: 1000;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    color: #fff;
}

.Hero-video .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
