.CarRow {
    background-color: antiquewhite;
    border: solid 1px black;
    padding: 5px 15px;
    display: flex;
}

.CarRow-image {
    height: 80px;
    width: 80px;
    margin: 20px;
    align-self: center;
}

.CarRow-center {
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.CarRow-center-depTime {
    margin: 15px 0;
}

.CarRow-right {
    min-width: 200px;
    padding: 20px;
}
