.CarRow {
  display: flex;
  flex-wrap: wrap;
}

.CarRow-full {
  max-height: 100px;
  margin-top: 50px !important;
}

.CarRow-image {
  height: 100%;
  width: 100px;
  margin: 10px;
  align-self: center;
  flex-grow: 1;
}

.CarRow-center {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  flex-grow: 4;
  min-width: 225px;
}

.CarRow-center-time {
  font-weight: 600;
}

.CarRow-passengers {
  margin-top: 15px;
}

.CarRow-right {
  flex-grow: 4;
}

.PassengerRow {
  display: flex;
  justify-content: space-between;
}

.ui.icon.small.inverted.attached.no-shadow {
  box-shadow: none !important;
}
