.CarRow-image {
  height: 100%;
  width: 100px;
  margin: 10px;
  align-self: center;
  flex-grow: 1;
}

.CarRow-center {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  flex-grow: 4;
}

.CarRow-center-time {
  font-weight: 600;
}

.CarRow-passengers {
  margin-top: 15px;
}

.CarRow-right {
  padding: 0 20px;
  flex-grow: 4;
}

.ui.icon.small.inverted.attached.no-shadow {
  box-shadow: none !important;
}
